@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #333333;
  --background-rgb: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-rgb: #333333;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  overflow: auto;
}

body {
  padding: 16px;
}
