@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colour-foreground: #333333;
  --colour-background: #ffffff;
  --colour-accent: #00ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-foreground: #ffffff;
    --colour-background: #333333;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--colour-background);
  color: var(--colour-foreground);
}

a {
  text-decoration: none;
}
